<%- include('partials/header',{desc:"This is the best homepage"}) %>

<h1><%= title %></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae atque delectus aut? Dolorem in cum debitis enim ducimus hic eos? Ut quisquam, id minima illo laudantium voluptatem quo explicabo.</p>


<%- include('partials/footer') %>